.Board{
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    background-color: #343434;
    margin: auto;
}

.edge{
    width: 20px;
    height: 20px;
}

.top{
    width: 550px;
    height: 20px;
    display: flex;
}
.alpha{
    width: 70px;
    height: 20px;
    display: flex;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
}
.alpha:hover{
    background-color: #3b3b3b;
}
.num{
    display: flex;
    height: 12.5%;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
}
.num:hover{
    background-color: #3b3b3b;
}
.left{
    height: 550px;
    width: 20px;
}

.main{
    width: 550px;
    height: 550px;
}

.Row{
    display: flex;
    width: 550px;
    height: 12.5%;
}